:root {
	--chat--color--primary: #696CFF;
	--chat--color--primary-shade-50: #5a5df5;
	--chat--color--primary--shade-100: #4b4fd0;
	--chat--color--secondary: #8592A3;
	--chat--color-secondary-shade-50: #778291;
	--chat--color-white: #ffffff;
	--chat--color-light: #f0f2f5;
	--chat--color-light-shade-50: #e0e2e5;
	--chat--color-light-shade-100: #d0d2d5;
	--chat--color-medium: #a0a3a7;
	--chat--color-dark: #1f2226;
	--chat--color-disabled: #7a7a7a;
	--chat--color-typing: #333333;
	--chat--input--text-color: var(--chat--color-dark);

	--chat--spacing: 1rem;
	--chat--border-radius: 0.25rem;
	--chat--transition-duration: 0.15s;

	// --chat--window--width: 400px;
	--chat--window--height: 500px;

	--chat--header-height: auto;
	--chat--header--padding: var(--chat--spacing);
	--chat--header--background: var(--chat--color-dark);
	--chat--header--color: var(--chat--color-light);
	--chat--header--border-top: none;
	--chat--header--border-bottom: none;
	--chat--header--border-bottom: none;
	--chat--header--border-bottom: none;
	--chat--heading--font-size: 2em;
	--chat--header--color: var(--chat--color-light);
	--chat--subtitle--font-size: inherit;
	--chat--subtitle--line-height: 1.8;

	--chat--textarea--height: 50px;

	--chat--message--font-size: 1rem;
	--chat--message--padding: var(--chat--spacing);
	--chat--message--border-radius: var(--chat--border-radius);
	--chat--message-line-height: 1.8;
	--chat--message--bot--background: var(--chat--color-white);
	--chat--message--bot--color: var(--chat--color-dark);
	--chat--message--bot--border: none;
	--chat--message--user--background: var(--chat--color--secondary);
	--chat--message--user--color: var(--chat--color-white);
	--chat--message--user--border: none;
	--chat--message--pre--background: rgba(0, 0, 0, 0.05);

	--chat--toggle--background: var(--chat--color--primary);
	--chat--toggle--hover--background: var(--chat--color--primary-shade-50);
	--chat--toggle--active--background: var(--chat--color--primary--shade-100);
	--chat--toggle--color: var(--chat--color-white);
	--chat--toggle--size: 64px;
}