version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: family-tree-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password # You should change this in a production environment
      MYSQL_DATABASE: familytree_db
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build:
      context: ../apps/backend
      dockerfile: ./Dockerfile.backend
    container_name: family-tree-backend
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    env_file:
      - ../apps/backend/.env
    depends_on:
      - mysql
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys

  admin:
    build:
      context: ../apps/admin
      dockerfile: ./Dockerfile.admin
    container_name: family-tree-admin
    ports:
      - "8081:80"
    depends_on:
      - backend
    env_file:
      - ../apps/admin/.env

  face-service:
    build:
      context: ../services/face-service
      dockerfile: ./Dockerfile.face-service
    container_name: family-tree-face-service
    ports:
      - "8000:8000" # Expose port 8000 for the FastAPI app
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is unbuffered
    mem_limit: 4g # Increase memory limit
  n8n:
    image: n8nio/n8n
    container_name: family-tree-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
    volumes:
      - n8n-data:/home/node/.n8n

volumes:
  mysql-data:
  backend-dataprotection-keys:
  n8n-data:
