version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: family-tree-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root_password # You should change this in a production environment
      MYSQL_DATABASE: familytree_db
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build:
      context: ..
      dockerfile: infra/Dockerfile.backend # Path to Dockerfile relative to the new context
      args:
        - ConnectionStrings__DefaultConnection=Server=mysql;Port=3306;Database=familytree_db;Uid=root;Pwd=root_password;
    container_name: family-tree-backend
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Server=mysql;Port=3306;Database=familytree_db;Uid=root;Pwd=root_password;
    env_file:
      - ../.env
    depends_on:
      - mysql

  frontend:
    build:
      context: ..
      dockerfile: infra/Dockerfile.frontend # Path to Dockerfile relative to the new context
    container_name: family-tree-frontend
    ports:
      - "80:80"
    volumes:
      # Mount nginx.conf from infra/ relative to docker-compose.yml
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  mysql-data: