services:
  mysql:
    image: mysql:8.0
    platform: linux/amd64
    container_name: family-tree-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD} # You should change this in a production environment
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build:
      context: ../apps/backend
      dockerfile: Dockerfile
    container_name: family-tree-backend
    ports:
      - "8080:8080"
    env_file:
      - ../apps/backend/.env
    depends_on:
      - mysql
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys

  admin:
    build:
      context: ../apps/admin
      dockerfile: Dockerfile
    container_name: family-tree-admin
    ports:
      - "8081:80"

    environment:
      - VITE_API_BASE_URL=${VITE_API_BASE_URL}
      - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
      - VITE_AUTH0_CLIENT_ID=${VITE_AUTH0_CLIENT_ID}
      - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}
      - VITE_NOVU_APPLICATION_IDENTIFIER=${VITE_NOVU_APPLICATION_IDENTIFIER}
      - VITE_APP_BUILD_DATE=${VITE_APP_BUILD_DATE}
      - VITE_APP_ENVIRONMENT=${VITE_APP_ENVIRONMENT}
      - VITE_APP_COMMIT_ID=${VITE_APP_COMMIT_ID}
    depends_on:
      - backend

  face-service:
    build:
      context: ../services/face-service
      dockerfile: Dockerfile
    container_name: family-tree-face-service
    ports:
      - "8000:8000" # Expose port 8000 for the FastAPI app
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is unbuffered
      - DLIB_PREDICTOR_PATH=app/models/shape_predictor_68_face_landmarks.dat
      - DLIB_ENCODER_PATH=app/models/dlib_face_recognition_resnet_model_v1.dat
    mem_limit: 4g # Increase memory limit
  n8n:
    image: n8nio/n8n
    platform: linux/amd64
    container_name: family-tree-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
    volumes:
      - n8n-data:/home/node/.n8n

volumes:
  mysql-data:
  backend-dataprotection-keys:
  n8n-data:
