services:
  mysql:
    image: mysql:8.0
    # platform: linux/amd64
    container_name: family-tree-mysql
    ports:
      - "3306:3306"
    env_file:
      - ./.env.dev
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      start_period: 30s

  backend:
    build:
      context: ../apps/backend
      dockerfile: Dockerfile
    container_name: family-tree-backend
    ports:
      - "8080:8080"
    env_file:
      - ./.env.dev
    depends_on:
      - mysql
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys

  admin:
    build:
      context: ../apps/admin
      dockerfile: Dockerfile
    container_name: family-tree-admin
    ports:
      - "8081:80"
    env_file:
      - ./.env.dev
    depends_on:
      - backend

  face-service:
    build:
      context: ../services/face-service
      dockerfile: Dockerfile
    container_name: family-tree-face-service
    ports:
      - "8000:8000" # Expose port 8000 for the FastAPI app
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is unbuffered
    mem_limit: 4g # Increase memory limit
    volumes:
      - ../infra/app/models:/face-service/app/models/dlib_models

  image-processing-service:
    build:
      context: ../services/image-processing-service
      dockerfile: Dockerfile
    container_name: family-tree-image-processing-service
    ports:
      - "8001:8000" # Map host port 8001 to container port 8000 (FastAPI default)
    env_file:
      - ./.env.dev # Assuming it might need environment variables
    environment:
      - PYTHONUNBUFFERED=1 # Ensure Python output is unbuffered
    mem_limit: 4g # Increase memory limit as it involves image processing
    depends_on:
      - backend # Assuming it might depend on backend for some reason, or just good practice


  puppeteer-service:
    build:
      context: ../services/puppeteer-service
      dockerfile: Dockerfile
    container_name: family-tree-puppeteer-service
    ports:
      - "3000:3000" # Map host port 3000 to container port 3000
    environment:
      - PUPPETEER_DISABLE_HEADLESS_WARNING=true
    cap_add: # Required for Chrome in Docker
      - SYS_ADMIN

volumes:
  mysql-data:
  backend-dataprotection-keys:
