services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/letsencrypt # Mount for Certbot certificates
      - ./apps/admin/dist:/var/www/certbot # Mount for Certbot webroot challenge
    networks:
      - app-network
    depends_on:
      - admin
      - backend
      - face-service

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./apps/admin/dist:/var/www/certbot
    env_file:
      - ./.env
    depends_on:
      - nginx
    command: "certonly --webroot -w /var/www/certbot -d family.thaohk.com -d family-api.thaohk.com --email thao.hk90@gmail.com --agree-tos --no-eff-email --force-renewal"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: family-tree-mysql-prod
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 60s
      retries: 10
      start_period: 60s

  backend:
    image: hkthao/family-tree-backend:latest
    platform: linux/amd64
    container_name: family-tree-backend-prod
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys
    networks:
      - app-network
    restart: unless-stopped

  admin:
    image: hkthao/family-tree-admin:latest
    container_name: family-tree-admin-prod
    env_file:
      - ./.env
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  face-service:
    image: hkthao/family-tree-face-service:latest
    platform: linux/amd64
    container_name: family-tree-face-service-prod
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=${FACE_SERVICE_PORT}
    mem_limit: 2g
    volumes:
      - ./face-service/models:/app/models/dlib_models
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  backend-dataprotection-keys:
