services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/letsencrypt # Mount for Certbot certificates
      - ./apps/admin/dist:/var/www/certbot # Mount for Certbot webroot challenge
    networks:
      - app-network
    depends_on:
      - admin
      - backend
      - face-service
      - knowledge-search-service
      - llm-gateway-service
      - storage-service

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./apps/admin/dist:/var/www/certbot
    env_file:
      - ./.env
    depends_on:
      - nginx
    command: "certonly --webroot -w /var/www/certbot -d family.thaohk.com -d family-api.thaohk.com --email thao.hk90@gmail.com --agree-tos --no-eff-email --force-renewal"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: family-tree-mysql-prod
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 60s
      retries: 10
      start_period: 60s

  redis:
    image: redis:7-alpine
    container_name: family-tree-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: family-tree-rabbitmq-prod
    ports:
      - "5672:5672" # Standard AMQP port
      - "15672:15672" # Management UI port
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 30s
      retries: 3
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  backend:
    image: hkthao/family-tree-backend:latest
    platform: linux/amd64
    container_name: family-tree-backend-prod
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy
      rabbitmq: # Add dependency on rabbitmq
        condition: service_healthy
    environment:
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - local-uploads:/app/uploads
    networks:
      - app-network
    restart: unless-stopped

  admin:
    image: hkthao/family-tree-admin:latest
    container_name: family-tree-admin-prod
    env_file:
      - ./.env
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  face-service:
    image: hkthao/family-tree-face-service:latest
    platform: linux/amd64
    container_name: family-tree-face-service-prod
    ports:
      - "8002:8000" # Expose port 3000 for the Node.js app
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    mem_limit: 2g
    volumes:
      - ./face-service/models:/face-service/app/models/dlib_models
      - ./face-service/models:/face-service/app/models/onnx_models
    networks:
      - app-network
    restart: unless-stopped

  notification-service:
    image: hkthao/family-tree-notification-service:latest
    container_name: family-tree-notification-service
    ports:
      - "3000:3000" # Expose port 3000 for the Node.js app
    env_file:
      - ./.env # Using .env for production environment
    environment:
      - TZ=Asia/Ho_Chi_Minh
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-network # Add to app-network for inter-service communication
    restart: unless-stopped

  knowledge-search-service:
    image: hkthao/family-tree-knowledge-search-service:latest
    platform: linux/amd64
    ports:
      - "8001:8000" # Expose port 8001 for the LLM Gateway service
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    mem_limit: 2g
    networks:
      - app-network
    restart: unless-stopped

  llm-gateway-service:
    image: hkthao/family-tree-llm-gateway-service:latest
    platform: linux/amd64
    container_name: family-tree-llm-gateway-service-prod
    ports:
      - "8000:8000" # Expose port 8000 for the LLM Gateway service
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    mem_limit: 2g
    networks:
      - app-network
    restart: unless-stopped

  storage-service:
    image: hkthao/family-tree-storage-service:latest
    platform: linux/amd64
    container_name: family-tree-storage-service-prod
    ports:
      - "3001:3000" # Expose port 3000 for the Node.js app
    env_file:
      - ./.env
    environment:
      - TZ=Asia/Ho_Chi_Minh
    volumes:
      - local-uploads:/app/uploads # Mount shared volume
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  backend-dataprotection-keys:
  redis-data:
  rabbitmq-data:
  local-uploads:
