services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/letsencrypt # Mount for Certbot certificates
      - ./apps/admin/dist:/var/www/certbot # Mount for Certbot webroot challenge
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./apps/admin/dist:/var/www/certbot
    depends_on:
      - nginx
    command: "certonly --webroot -w /var/www/certbot -d family.thaohk.com -d family-api.thaohk.com --email thao.hk90@gmail.com --agree-tos --no-eff-email --force-renewal" 
    networks:
      - app-network
networks:
  app-network:
    driver: bridge