services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/letsencrypt # Mount for Certbot certificates
      - ./apps/admin/dist:/var/www/certbot # Mount for Certbot webroot challenge
    networks:
      - app-network
    depends_on:
      - admin
      - backend
      - face-service
      - ocr-service

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certs:/etc/letsencrypt
      - ./apps/admin/dist:/var/www/certbot
    env_file:
      - ./.env
    depends_on:
      - nginx
    command: "certonly --webroot -w /var/www/certbot -d family.thaohk.com -d family-api.thaohk.com --email thao.hk90@gmail.com --agree-tos --no-eff-email --force-renewal"
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: family-tree-mysql-prod
    env_file:
      - ./.env
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 60s
      retries: 10
      start_period: 60s

  redis:
    image: redis:7-alpine
    container_name: family-tree-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5

  backend:
    image: hkthao/family-tree-backend:latest
    platform: linux/amd64
    container_name: family-tree-backend-prod
    env_file:
      - ./.env
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - backend-dataprotection-keys:/root/.aspnet/DataProtection-Keys
    networks:
      - app-network
    restart: unless-stopped

  admin:
    image: hkthao/family-tree-admin:latest
    container_name: family-tree-admin-prod
    env_file:
      - ./.env
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  face-service:
    image: hkthao/family-tree-face-service:latest
    platform: linux/amd64
    container_name: family-tree-face-service-prod
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
      - PORT=${FACE_SERVICE_PORT}
    mem_limit: 2g
    volumes:
      - ./face-service/models:/face-service/app/models/dlib_models
    networks:
      - app-network
    restart: unless-stopped

  ocr-service:
    image: hkthao/family-tree-ocr-service:latest # Assuming a pre-built image
    platform: linux/amd64
    container_name: family-tree-ocr-service-prod
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    mem_limit: 2g # Consistent with dev, adjust if needed
    networks:
      - app-network
    restart: unless-stopped

  notification-service:
    image: hkthao/family-tree-notification-service:latest
    container_name: family-tree-notification-service
    ports:
      - "3000:3000" # Expose port 3000 for the Node.js app
    env_file:
      - ./.env.prod # Using .env.prod for production environment
    environment:
      - TZ=Asia/Ho_Chi_Minh
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - app-network # Add to app-network for inter-service communication
    restart: unless-stopped

  # promtail:
  #   image: grafana/promtail:2.6.1 # Use a specific version of Promtail
  #   container_name: family-tree-promtail
  #   env_file:
  #     - ./.env
  #   volumes:
  #     - ./promtail-config.yaml:/etc/promtail/config.yaml:ro # Mount the config file
  #     - /var/lib/docker/containers:/var/lib/docker/containers:ro # Mount Docker logs
  #     - /var/run/docker.sock:/var/run/docker.sock:ro # Mount Docker socket
  #   command: -config.file=/etc/promtail/config.yaml
  #   depends_on:
  #     - backend
  #     - admin
  #     - face-service
  #     - ocr-service

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
  backend-dataprotection-keys:
  redis-data:
