name: CD Pipeline for Knowledge Search Service

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  docker-push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.event == 'push' && github.event.workflow_run.head_branch == 'main' }}

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push knowledge-search-service Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./services/knowledge-search-service
        file: ./services/knowledge-search-service/Dockerfile
        push: true
        tags: hkthao/family-tree-knowledge-search-service:latest
