# .github/workflows/ci.yml
name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore Backend Dependencies
      run: dotnet restore backend/backend.sln

    - name: Build Backend
      run: dotnet build backend/family-tree-3.sln --no-restore

    - name: Lint Backend
      run: dotnet format backend/ --verify-no-changes --include-generated

    - name: Test Backend
      run: dotnet test backend/backend.sln /p:CollectCoverage=true /p:CoverletOutput=./tests/coverage/backend/ /p:CoverletOutputFormat=lcov /p:Threshold=80 --no-build --verbosity normal

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install Frontend Dependencies
      run: npm install --prefix frontend

    - name: Lint Frontend
      run: npm run lint --prefix frontend

    - name: Test Frontend
      run: npm run test:coverage --prefix frontend

  docker-build-and-push:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push backend Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: infra/Dockerfile.backend
        push: true
        tags: your-dockerhub-username/family-tree-backend:latest

    - name: Build and push frontend Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: infra/Dockerfile.frontend
        push: true
        tags: your-dockerhub-username/family-tree-frontend:latest
